/* ------------ GENERAL ---------- */
:root {
  --dark: #111111;
  --red: #ee171f;
  --light: #f2ede7;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: #111111;
  border-radius: 30px;
  /* border: 1px solid red; */
}
.divider {
  /* margin: 10px 0; */
  border-bottom: 1px solid gray;
}

h1 {
  font-size: 34px;
  text-align: center;
  padding: 30px 0;
}
h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* ------ Gestion light/dark mode ------ */
.mode-dark {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #333333;
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}
.mode-light {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}
.dark {
  background-color: var(--dark);
  color: white;
}
.light {
  background-color: var(--light);
  color: var(--dark);
}
main {
  padding: 80px 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* ------------------------------ */
/* ----------- HEADER ----------- */
/* ------------------------------ */
.header-logo {
  width: 180px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
header .container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
  position: relative;
  border-radius: 0px;
  background-color: var(--dark);
}

.header-nav {
  /* border: 5px solid blue; */
  width: 95%;
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.navigation button {
  border: none;
  background-color: var(--dark);
  color: white;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}
.navigation button:hover {
  color: var(--red);
}

.header-sign-log {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.header-sign-log button {
  font-size: 15px;
  color: white;
  background-color: var(--dark);
  border: none;
  width: 120px;
  cursor: pointer;
}
.header-sign-log button:hover {
  color: var(--red);
}

.disconnect {
  display: flex;
  margin-right: 50px;
}
.disconnect button {
  font-size: 17px;
  color: var(--red);
  background-color: var(--dark);
  border: none;
  border-radius: 10px;
  width: 160px;
  cursor: pointer;
}
.disconnect button:hover {
  color: white;
}

/* ------------------------------ */
/* ------------ MAIN ------------ */
/* ------------------------------ */

/* ---------- PAGE HOME --------- */
main {
  display: flex;
  justify-content: center;
}
.home {
  width: 90%;
  position: relative;
  height: 100vh;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./assets/bg-home.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 33px;
}
.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./assets/paper.jpg);
  background-size: cover;
  background-position: center;
  mix-blend-mode: lighten;
  border-radius: 30px;
}

/* ---------- Pagination ----------- */

.pagination {
  margin-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pagination > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.pagination > div:last-child {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.pagination input {
  width: 70px;
  border-radius: 6px;
  padding: 3px 5px;
}
.pagination button {
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

/* -----Barre de recherche -----*/
.search {
  padding: 6px 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.search > div {
  width: 300px;
  background-color: black;
  border: 2px solid lightgray;
  padding: 6px 15px;
  border-radius: 6px;
}
.search input {
  background-color: black;
  border: none;
  width: 250px;
  color: white;
  padding: 5px 15px;
}

/* ----- ADD/REMOVE FAVORITES ----- */
main .container .favorite {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  padding: 5px 6px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: var(--dark);
  box-shadow: 0 0px;
}
.favorite i {
  color: var(--red);
  font-size: 20px;
}
.favorite:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ------- PAGE ALLCOMICS ------- */
.all-comics {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  overflow: hidden scroll;
  min-height: 400px;
  max-height: 1000px;
  padding: 15px;
  border-bottom: 1px solid black;
  background: url(./assets/bg-home.jpg);
  background-position: center;
  width: 1200px;
}
.all-comics > div {
  border: 1px solid lightgray;
  border-radius: 6px;
  width: calc((100% - 100px) / 5);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background-color: gray;
  -webkit-box-shadow: 6px 6px 15px 3px #000000;
  box-shadow: 6px 6px 15px 3px #000000;
  position: relative;
}

.all-comics img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.all-comics img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* ---------- PAGE COMIC ---------- */
.comic-info {
  padding: 15px 50px;
  display: flex;
  gap: 30px;
}
.comic-info img {
  width: 40%;
}
.comic-info p {
  border-top: 1px solid lightgray;
  padding-top: 30px;
}
/* ----- PAGE ALLCHARACTERS ----- */
.all-hero {
  /* border: 3px solid blue; */
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  background: url(./assets/bg-home.jpg);
  background-position: center;
  overflow: hidden scroll;
  min-height: 400px;
  max-height: 800px;
  width: 1200px;
}

.all-hero > div {
  border: 1px solid black;
  border-radius: 6px;
  width: calc((100% - 125px) / 6);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
  background-color: white;
  /* box-shadow: 4px 4px 12px 3px white; */
}
.all-hero > div > img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px 3px #000000;
  box-shadow: 5px 5px 10px 3px #000000;
  margin-top: 5px;
}
.all-hero > div > img:hover {
  transform: scale(1.02);
}

.all-hero button {
  background-color: #222222;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.all-hero button:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

/* ---- PAGE Character-Comics --- */
.comics-character {
  width: 1200px;
}

.comics-character > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.comics-character > div:first-of-type img {
  border-radius: 50%;
  width: 150px;
  cursor: pointer;
  aspect-ratio: 1;
  object-fit: cover;
}
.comics-character > div:first-of-type img:hover {
  opacity: 0.9;
}

.comics-character > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 5px;
  background: url(./assets/bg-home.jpg);
  background-position: center;
  overflow: hidden scroll;
  min-height: 400px;
  max-height: 1000px;
}

.comics-character > div:last-of-type > div {
  width: calc((100% - 100px) / 5);
  border: 1px solid gray;
  cursor: pointer;
  background-color: rgb(185, 222, 234);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  border-radius: 5px;
}
.comics-character > div:last-of-type img {
  width: 100%;
  height: 300px;
  margin-top: 8px;
}
.comics-character > div:last-of-type img:hover {
  transform: scale(1.03);
}

.comics-character p {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
/* ---- PAGE Character-Info ---- */
.character-info {
  padding: 40px;
  display: flex;
  gap: 30px;
  margin: 60px 0;
  align-items: center;
  min-height: 720px;
}
.character-info > div:first-of-type {
  width: 500px;
}
.character-info img {
  width: 500px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 15px 3px #000000;
  box-shadow: 6px 6px 15px 3px #000000;
}
.character-info img:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.character-info > div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.character-info > div:last-child > div {
  padding: 9px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.character-info span {
  font-size: 18px;
  font-weight: bold;
}
.character-info p {
  margin: 8px 0;
}

/* ------ PAGE SIGNUP - LOGIN ----- */
.sign-log {
  color: black;
  display: flex;
  justify-content: center;
}
.sign-log > div {
  background-color: white;
  width: 600px;
  margin-top: 80px;
  margin-bottom: 280px;
  border: 1px solid lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sign-log input {
  width: 200px;
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid lightgray;
}
.sign-log label {
  width: 200px;
}
.sign-log button {
  background-color: lightgreen;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px #999;
}
.sign-log button:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.sign-log p {
  margin-bottom: 15px;
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

.sign-log-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sign-log-input > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
  gap: 50px;
}

/* --------- PAGE FAVORIS -------- */
.all-fav {
  /* border: 3px solid green; */
  display: flex;
  gap: 15px;
  min-height: 600px;
  width: 1200px;
}
.all-fav > div {
  width: 50%;
}
.fav-char {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  padding: 12px 0 12px 12px;
  width: 100%;
  gap: 15px;
}
.fav-char > div {
  /* border: 3px solid pink; */
  width: calc((100% - 30px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 9px;
  background-color: lightgray;
  border-radius: 8px;
}
.fav-char img {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px 3px #000000;
  box-shadow: 4px 4px 10px 3px #000000;
}
.fav-char img:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.fav-char p {
  text-align: center;
  font-weight: bold;
}

.fav-comics {
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 12px;
  padding-bottom: 20px;
  border-left: 1px solid black;
}
.fav-comics > div {
  /* border: 3px solid pink; */
  width: calc((100% - 30px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 330px;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
  border-radius: 8px;
}

.fav-comics img {
  width: 150px;
  aspect-ratio: 0.6;
  object-fit: cover;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px 3px #000000;
  box-shadow: 4px 4px 10px 3px #000000;
}
.fav-comics img:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.fav-comics p {
  text-align: center;
  font-weight: bold;
}

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */
footer {
  padding: 30px;
  text-align: center;
  border-top: 1px solid gray;
}

footer a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

/* ------------------------------ */
/* -------- MEDIA QUERY --------- */
/* ------------------------------ */
@media (max-width: 1200px) {
  .all-comics {
    width: 900px;
  }
  .all-comics > div {
    width: calc((100% - 50px) / 3);
  }
  .all-comics img {
    height: 400px;
  }

  .all-hero {
    width: 900px;
  }
  .all-hero > div {
    width: calc((100% - 75px) / 4);
  }
  .comics-character {
    width: 900px;
  }
  .comics-character > div:last-of-type > div {
    width: calc((100% - 75px) / 4);
  }

  .all-fav {
    width: 900px;
  }
  .fav-char > div {
    width: calc((100% - 15px) / 2);
  }
  .fav-comics > div {
    width: calc((100% - 15px) / 2);
  }
}

/* ------ MEDIA 1100PX WIDTH ------ */

@media (max-width: 1100px) {
  .fav-char > div {
    width: calc((100% - 15px) / 2);
  }
  .fav-comics > div {
    width: calc((100% - 15px) / 2);
  }
}

/* ------ MEDIA 1000PX WIDTH ------ */

@media (max-width: 1000px) {
  .header-nav {
    flex-direction: column;
    align-items: center;
  }
  .header-sign-log {
    margin-right: 0;
  }
  .disconnect {
    margin-right: 0;
  }

  .all-comics {
    width: 700px;
  }
  .all-comics > div {
    width: calc((100% - 25px) / 2);
  }
  .all-comics img {
    height: 400px;
    object-fit: fill;
  }
  .comic-info img {
    width: 60%;
  }

  .character-info img {
    width: 350px;
  }
}

/* ------ MEDIA 900PX WIDTH ------ */

@media (max-width: 900px) {
  .all-hero {
    width: 700px;
  }
  .all-hero > div {
    width: calc((100% - 50px) / 3);
  }

  .comics-character {
    width: 700px;
  }
  .comics-character > div:last-of-type > div {
    width: calc((100% - 50px) / 3);
  }

  .all-fav {
    width: 100%;
  }
  .fav-comics > div {
    width: 100%;
    height: 500px;
  }
  .fav-comics img {
    width: 85%;
    height: 94%;
    object-fit: fill;
  }
}

/* ------ MEDIA 700PX WIDTH ------ */

@media (max-width: 700px) {
  .home {
    height: 70vh;
  }

  .all-comics {
    width: 100%;
  }
  .comic-info {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .comic-info img {
    width: 70%;
  }

  .all-hero {
    width: 100%;
  }
  .all-hero > div {
    width: calc((100% - 25px) / 2);
  }

  .comics-character {
    width: 100%;
  }
  .comics-character > div:last-of-type > div {
    width: calc((100% - 25px) / 2);
  }

  .character-info {
    flex-direction: column;
    gap: 10px;
  }
  .character-info > div:first-of-type {
    width: 75%;
  }
  .character-info img {
    width: 100%;
  }

  .fav-char > div {
    width: 100%;
  }
}

/* ------ MEDIA 500PX WIDTH ------ */

@media (max-width: 500px) {
  .home {
    height: 60vh;
  }

  .all-comics > div {
    width: 100%;
  }
  .all-comics img {
    height: 450px;
    object-fit: fill;
  }
  .sign-log > div {
    border: 3px solid red;
    width: 100%;
  }
  .sign-log input {
    width: 120px;
  }
  .sign-log label {
    width: 120px;
  }

  .all-hero > div {
    width: 100%;
  }
  .comics-character > div:last-of-type {
    justify-content: center;
  }
  .comics-character > div:last-of-type > div {
    width: 90%;
    height: 550px;
    justify-content: flex-start;
  }
  .comics-character > div:last-of-type img {
    height: 95%;
    margin-top: 10px;
  }

  .fav-comics > div {
    height: 350px;
  }
  .fav-comics img {
    height: 85%;
    width: 95%;
  }
}
